<footer>
    <div class="container">
        <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a ui-sref-active="active" ui-sref="anonymous.accounting">Access</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="anonymous.privacy">Privacy</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="anonymous.terms">Terms</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="anonymous.faq">FAQ</a>
            </li>
        </ul>
    </div>
</footer>