<!--<link href="css/device-mockups/device-mockups.css" rel="stylesheet" />
<link href="css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />-->


<link href="client/css/site.css" rel="stylesheet" />
<ng-include src="'client/app/templates/header.html'" include-replace></ng-include>
<ng-include src="'client/app/templates/navbar.html'" include-replace></ng-include>
<div class="content-container" ui-view />
<ng-include src="'client/app/templates/footer.html'" include-replace></ng-include>
